/* ------------------------------------------------------------ *\
  product-sections
\* ------------------------------------------------------------ */

.product-sections {
  display: flex;
  flex-wrap: wrap;

  .product__item {
    width: 100%;
  }
}
