/* ------------------------------------------------------------ *\
  Section How
\* ------------------------------------------------------------ */

.section-how {
  padding: 115px 0 0 0;
  color: #000;
  font-family: $font-gotham;
  position: relative;
  z-index: 1;

  @media #{$mobile} {
    text-align: center;
    padding-top: 40px;
  }

  .section__image {
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &.section__image--desktop {
      @media #{$mobile} {
        display: none;
      }
    }

    &.section__image--mobile {
      display: none;

      @media #{$mobile} {
        display: block;
      }
    }
  }

  .section__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }

  .section__body {
    width: 662px;
    padding-right: 111px;
    padding-bottom: 29vw;

    @media #{$small-desktop} {
      width: 56%;
      padding-right: 0;
    }

    @media #{$mobile} {
      width: auto;
      padding-bottom: 30px;
    }
  }

  .section__title {
    @include section-title(62px);

    @media #{$mobile} {
      margin-bottom: 24px;
    }
  }

  .section__actions .btn {
    @include section-button();
  }
}
