/* ------------------------------------------------------------ *\
  Section Ingredients
\* ------------------------------------------------------------ */

.section-ingredients {
  z-index: 1;
  color: #000;
  overflow: hidden;
  padding: 134px 0;
  position: relative;
  text-align: center;
  font-family: $font-gotham;
  background-color: #f1f1f1;

  .decoration {
    position: absolute;
    pointer-events: none;
    z-index: -1;
    background-image: url(shape.png);
    width: 1655px;
    height: 1306px;
    background-size: 1655px 1306px;
    opacity: 10%;

    &.decoration--left {
      transform: rotate(-53deg);
      top: -129px;
      left: -788px;

      @media #{$large-desktop} {
        width: 105.62vw;
        height: 83.35vw;
        background-size: 105.62vw 83.35vw;
        top: -8.5vw;
        left: -50vw;
      }
    }

    &.decoration--right {
      transform: rotate(133deg);
      width: 1932px;
      height: 1525px;
      background-size: 1932px 1525px;
      bottom: 4px;
      right: -1001px;

      @media #{$large-desktop} {
        width: 123vw;
        height: 97.4vw;
        background-size: 123vw 97.4vw;
        bottom: 0.3vw;
        right: -63.8vw;
      }
    }
  }

  .section__title {
    @include section-title(17px);
  }

  .section__body {
    padding-top: 41px;

    ul {
      list-style: none;
      list-style-position: outside;
    }

    ul li {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 51px;
    }

    ul li img {
      border-radius: 50%;
      margin-bottom: 24px;
      width: 171px;
    }

    ul li h4 {
      margin: 0;
      line-height: 1;
      font-size: 34px;
      font-weight: 700;
      margin-bottom: 12px;
      letter-spacing: 0.075em;
      text-transform: uppercase;
      text-transform: capitalize;
    }

    ul li p {
      margin: 0;
      font-size: 28px;
      line-height: 1.3;
    }
  }
}
