# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directory
node_modules/

# Dummy theme watch file
theme.update

# Shopify Files
theme.lock

# Misc
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
.vscode
temp
scripts/__env.sh

# Settings
drone.json