<section class="section-outro">
  <div class="shell">
    <div class="section__inner">
      <header class="section__head">
        <span class="section__logo">
          <img src="assets/images/" alt="" />
        </span>
        
        <h3 class="section__title"></h3><!-- /.section__title -->
      </header><!-- /.section__head -->
      
      <div class="section__body">
        <nav class="section__nav">
          <ul>
            <li>
              <a href="#">Shop</a>
            </li>
            
            <li>
              <a href="#">new Releases</a>
            </li>
            
            <li>
              <a href="#">our story</a>
            </li>
          </ul>
        </nav><!-- /.nav -->
        
        <ul class="list-socials-alt">
          <li>
            <a href="#">
              <i class="ico-instagram"></i>
            </a>
          </li>
          
          <li>
            <a href="#">
              <i class="ico-facebook"></i>
            </a>
          </li>
          
          <li>
            <a href="#">
              <i class="ico-pinterest"></i>
            </a>
          </li>
          
          <li>
            <a href="#">
              <i class="ico-twitter"></i>
            </a>
          </li>
          
          <li>
            <a href="#">
              <i class="ico-linkedin"></i>
            </a>
          </li>
        </ul><!-- /.list-socials-alt -->
      </div><!-- /.section__body -->
    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-outro -->
