<section class="section-results">
  <div class="shell">
    <div class="section__inner">
      <header class="section__head">
        <h2 class="section__title"></h2><!-- /.section__title -->
        
        <p></p>
      </header><!-- /.section__head -->
      
      <div class="section__body">
        <ul class="list-results">
          <li>
            <img src="assets/images/" alt="" />
            <img src="assets/images/" alt="" />
          </li>
          
          <li>
            <img src="assets/images/" alt="" />
            <img src="assets/images/" alt="" />
          </li>
          
          <li>
            <img src="assets/images/" alt="" />
            <img src="assets/images/" alt="" />
          </li>
          
          <li>
            <img src="assets/images/" alt="" />
            <img src="assets/images/" alt="" />
          </li>
        </ul><!-- /.list-results -->
      </div><!-- /.section__body -->
      
      <div class="section__actions">
        <a href="#" class="btn">shop now</a>
      </div><!-- /.section__actions -->
    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-results -->
