<section class="section-how">
  <div class="shell">
    <div class="section__inner">
      <div class="section__image"></div><!-- /.section__image -->
      
      <div class="section__body">
        <h2 class="section__title"></h2><!-- /.section__title -->
        
        <ol class="list-how">
          <li>Thoroughly wet your hair to allow the product to saturate evenly. Gather a quarter-sized amount for short hair or 2 to 3x more for thicker, longer hair.</li>
          
          <li>Apply the product from roots through to the ends. Massage into areas with excess build-up and oil.</li>
          
          <li>Rinse thoroughly, allow hair to air dry, or begin blow-drying.</li>
          
          <li>Thoroughly wet your hair to allow the product to saturate evenly. Gather a quarter-sized amount for short hair or 2 to 3x more for thicker, longer hair.</li>
        </ol><!-- /.list-how -->
      </div><!-- /.section__body -->
      
      <div class="section__actions">
        <a href="#" class="btn">Shop Now</a>
      </div><!-- /.section__actions -->
    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-how -->
