<section class="section-faq">
  <div class="shell">
    <div class="section__inner">
      <h2 class="section__title"></h2><!-- /.section__title -->
      
      <div class="section__body">
        <ul class="list-faq">
          <li>
            <h3></h3>
            
            <p></p>
          </li>
        </ul><!-- /.list-faq -->
      </div><!-- /.section__body -->
    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-faq -->
