<section class="section-partners">
  <div class="shell">
    <div class="section__inner">
      <h2 class="section__title"></h2><!-- /.section__title -->
      
      <div class="section__body">
        <ul class="list-partners">
          <li>
            <img src="assets/images/" alt="" />
          </li>
          
          <li>
            <img src="assets/images/" alt="" />
          </li>
          
          <li>
            <img src="assets/images/" alt="" />
          </li>
        </ul>
      </div><!-- /.section__body -->
    </div><!-- /.section__inner -->
  </div><!-- /.shell -->
</section><!-- /.section-partners -->
